AD_USERNAME=administrator
AD_PASSWORD="PASSWORD"
AD_DOMAIN=Domain
AD_SERVER=AD_IP
TIMEOUT_SECONDS=5
TARGET_USER=check_remote_user
EXCLUDE_COMPUTERS=EXCLUDE_COMPUTERS
OUs="OU=Test1Clients,DC=test,DC=local"
AD_NETBIOS=AD_BIOS